In [76]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Getting rid of plt.show() requirement with this line.

In [77]:
%matplotlib inline

Setting system-dependent working directory as a variable, so it can be used in pandas function calls

In [78]:
working_dir = "/Users/motoroff/Dropbox/DataScience/SoftwareSchool/data-question-1-amerus/data/"

In [79]:
gdp_df = pd.read_csv(working_dir + "gdp_percapita.csv")

Using del instead of gdp_df.drop, so that the original DataFrame is updated

In [80]:
del gdp_df['Value Footnotes']

In [81]:
gdp_df.head(6)

  Country or Area  Year        Value
0     Afghanistan  2016  1802.695566
1     Afghanistan  2015  1809.016488
2     Afghanistan  2014  1838.960244
3     Afghanistan  2013  1848.700026
4     Afghanistan  2012  1839.273579
5     Afghanistan  2011  1660.739856

In [82]:
gdp_df.shape

(6206, 3)

In [83]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
dtype: object

In [84]:
gdp_df.tail(10)

     Country or Area  Year        Value
6196        Zimbabwe  1999  2699.857521
6197        Zimbabwe  1998  2761.318537
6198        Zimbabwe  1997  2725.888701
6199        Zimbabwe  1996  2698.917300
6200        Zimbabwe  1995  2488.298028
6201        Zimbabwe  1994  2529.826671
6202        Zimbabwe  1993  2360.793284
6203        Zimbabwe  1992  2384.972026
6204        Zimbabwe  1991  2681.495089
6205        Zimbabwe  1990  2605.794944

In [85]:
gdp_df.rename(columns={"Country or Area":"Country","Value":"GDP_Per_Capita"},inplace=True)

Creating new index based on country and year, so that two DataFrames can be merged

In [96]:
gdp_new_index = gdp_df.Country + gdp_df.Year.astype(str)

Checking if the new index is unique

In [97]:
gdp_new_index.is_unique

True

Copying the original DataFrame, setting new index to Country+Year

In [98]:
gdp_newindex_df = gdp_df.copy()
gdp_newindex_df.index = gdp_new_index
gdp_newindex_df.head(10)

                     Country  Year  GDP_Per_Capita
Afghanistan2016  Afghanistan  2016     1802.695566
Afghanistan2015  Afghanistan  2015     1809.016488
Afghanistan2014  Afghanistan  2014     1838.960244
Afghanistan2013  Afghanistan  2013     1848.700026
Afghanistan2012  Afghanistan  2012     1839.273579
Afghanistan2011  Afghanistan  2011     1660.739856
Afghanistan2010  Afghanistan  2010     1614.255001
Afghanistan2009  Afghanistan  2009     1531.173993
Afghanistan2008  Afghanistan  2008     1298.143159
Afghanistan2007  Afghanistan  2007     1284.775213

In [99]:
internet_df = pd.read_csv(working_dir + "internet_use.csv")

In [100]:
del internet_df['Value Footnotes']

In [101]:
internet_df.head(6)

  Country or Area  Year     Value
0     Afghanistan  2014  6.390000
1     Afghanistan  2013  5.900000
2     Afghanistan  2012  5.454545
3     Afghanistan  2011  5.000000
4     Afghanistan  2010  4.000000
5     Afghanistan  2009  3.550000

In [102]:
internet_df.shape

(4495, 3)

In [103]:
internet_df.dtypes

Country or Area     object
Year                 int64
Value              float64
dtype: object

In [104]:
internet_df.tail(10)

     Country or Area  Year     Value
4485        Zimbabwe  2002  3.994356
4486        Zimbabwe  2001  0.799846
4487        Zimbabwe  2000  0.401434
4488        Zimbabwe  1999  0.161676
4489        Zimbabwe  1998  0.081648
4490        Zimbabwe  1997  0.033080
4491        Zimbabwe  1996  0.016790
4492        Zimbabwe  1995  0.007684
4493        Zimbabwe  1994  0.001739
4494        Zimbabwe  1990  0.000000

Setting "inplace" to True, so that the original is updated instead of a copy

In [105]:
internet_df.rename(columns={"Country or Area":"Country","Value":"Internet_Users_Pct"},inplace=True)

In [107]:
internet_newindex = internet_df.Country + internet_df.Year.astype(str)
internet_newindex.is_unique

True

In [109]:
internet_newindex_df = internet_df.copy()
internet_newindex_df.index = internet_newindex
internet_newindex_df.head(10)

                     Country  Year  Internet_Users_Pct
Afghanistan2014  Afghanistan  2014            6.390000
Afghanistan2013  Afghanistan  2013            5.900000
Afghanistan2012  Afghanistan  2012            5.454545
Afghanistan2011  Afghanistan  2011            5.000000
Afghanistan2010  Afghanistan  2010            4.000000
Afghanistan2009  Afghanistan  2009            3.550000
Afghanistan2008  Afghanistan  2008            1.840000
Afghanistan2007  Afghanistan  2007            1.900000
Afghanistan2006  Afghanistan  2006            2.107124
Afghanistan2005  Afghanistan  2005            1.224148

In [115]:
pd.merge(gdp_newindex_df,internet_newindex_df,how="outer").head(50)

        Country  Year  GDP_Per_Capita  Internet_Users_Pct
0   Afghanistan  2016     1802.695566                 NaN
1   Afghanistan  2015     1809.016488                 NaN
2   Afghanistan  2014     1838.960244            6.390000
3   Afghanistan  2013     1848.700026            5.900000
4   Afghanistan  2012     1839.273579            5.454545
5   Afghanistan  2011     1660.739856            5.000000
6   Afghanistan  2010     1614.255001            4.000000
7   Afghanistan  2009     1531.173993            3.550000
8   Afghanistan  2008     1298.143159            1.840000
9   Afghanistan  2007     1284.775213            1.900000
10  Afghanistan  2006     1161.124889            2.107124
11  Afghanistan  2005     1136.123214            1.224148
12  Afghanistan  2004     1062.249360            0.105809
13  Afghanistan  2003     1099.194507            0.087891
14  Afghanistan  2002     1063.635574            0.004561
15      Albania  2016    11359.170404                 NaN
16      Albania  2015    10971.292517                 NaN
17      Albania  2014    10701.120786           60.100000
18      Albania  2013    10492.806283           57.200000
19      Albania  2012    10369.823382           54.655959
20      Albania  2011    10207.764699           49.000000
21      Albania  2010     9927.181841           45.000000
22      Albania  2009     9524.649303           41.200000
23      Albania  2008     9153.788206           23.860000
24      Albania  2007     8754.569513           15.036115
25      Albania  2006     8204.588246            9.609991
26      Albania  2005     7733.006933            6.043891
27      Albania  2004     7277.214908            2.420388
28      Albania  2003     6855.448876            0.971900
29      Albania  2002     6457.050021            0.390081
30      Albania  2001     6176.370678            0.325798
31      Albania  2000     5668.574777            0.114097
32      Albania  1999     5280.527867            0.081437
33      Albania  1998     4623.026401            0.065027
34      Albania  1997     4214.358153            0.048594
35      Albania  1996     4697.153233            0.032197
36      Albania  1995     4278.689663            0.011169
37      Albania  1994     3753.169904                 NaN
38      Albania  1993     3444.321792                 NaN
39      Albania  1992     3123.512503                 NaN
40      Albania  1991     3345.504049                 NaN
41      Albania  1990     4722.838166            0.000000
42      Algeria  2016    13921.180022                 NaN
43      Algeria  2015    13724.723853                 NaN
44      Algeria  2014    13483.337862           18.090000
45      Algeria  2013    13253.615476           16.500000
46      Algeria  2012    13161.961673           15.228027
47      Algeria  2011    12990.345016           14.000000
48      Algeria  2010    12870.602699           12.500000
49      Algeria  2009    12647.540304           11.230000